<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Gotu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body id="scrolltop">
        <header class="header" >
            <div class="wrapper">
                <div class="hLeft">
                    <a href="#scrolltop">
                        <span class="logo"><img src="./assets/img/damansara-chiropractic-logo.png" alt=""></span>
                        <img src="./assets/img/damansara-chiropractic.png" alt="" class="cName">
                    </a>
                </div>
                <div class="hRight">
                    <span class="mob-menu" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    <ul id="navbarSupportedContent">
                        <li><a href="#services">Our Services</a></li>
                        <li><a href="#team">Meet Our Team</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="banner">
            <div class="wrapper">
                <div class="bannerTop">
                    <h1>Dedicated to Spinal Wellness</h1>
                    <a href="#contact" class="bannerBtn"><img src="./assets/img/whatsapp-sm.png" alt=""> Enquiries / Appointments</a>
                </div>
                <img src="./assets/img/baner.png" class="mBanner" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="wrapper">
                <p class="text-center smCol">At Damansara Chiropractic, we're dedicated to helping you live your best life through safe, natural, and non-invasive treatments.</p>
                <div class="sec-wrapper">
                    <div class="sec-Left">
                        <img src="./assets/img/intro-Img.png" alt="">
                    </div>
                    <div class="sec-Right">
                        <figure><img src="./assets/img/l-ico.png" alt=""></figure>
                        <p>Our team of experienced chiropractors understands that pain and discomfort can have a significant impact on your quality of life, which is why we're here to help you get back to feeling your best. </p>
                        <p>With our personalized approach to care, we'll work with you to develop a treatment plan that's tailored to your specific needs and goals.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services" id="services">
            <div class="wrapper">
                <h2>Our Services</h2>
                <p class="sm-col">We offer a comprehensive range of chiropractic services to address a variety of conditions and concerns. </p>
                <div class="services-wrapper">
                    <div class="sItem">
                        <figure><img src="./assets/img/thumb1.png" alt=""></figure>
                        <p><strong>Chiropractic adjustments</strong> being the mainstay of the treatment is a safe and effective way to improve mobility and relieve pain in the back, neck, and joints.</p>
                    </div>
                    <div class="sItem">
                        <figure><img src="./assets/img/thumb1.png" alt=""></figure>
                        <p><strong>Soft tissue therapy</strong>, such as trigger point therapy, cross-friction therapy and stretches can help reduce muscle tension and improve flexibility.</p>
                    </div>
                    <div class="sItem">
                        <figure><img src="./assets/img/thumb1.png" alt=""></figure>
                        <p><strong>Corrective exercises</strong>, a part of essential chiropractic care that can help strengthen weak areas of the body and improve overall function.</p>
                    </div>
                    <div class="sItem">
                        <figure><img src="./assets/img/thumb1.png" alt=""></figure>
                        <p><strong>Electrotherapeutic modalities</strong> such as therapeutic ultrasound is also used on areas such of tendinitis such as Golfer's/Tennis elbow (medial/lateral epicondylitis) which is proven to be very effective for such conditions.</p>
                    </div>                                                
                </div>
                <h2>Conditions We Treat</h2>
                <div class="crow">
                    <div class="col-l">
                        <p>Chiropractic care can be helpful for a wide range of conditions, including low back pain, neck pain, headaches, sciatica, sports injuries, carpal tunnel syndrome, and more. </p>
                    </div>
                    <div class="col-r">
                        <p>We believe in taking a whole-person approach to care, which means that we'll work with you to identify the underlying causes of your pain or discomfort.</p>
                    </div>
                </div>
            </div>
            <div class="fullWrap">
                <div class="colLeft">
                    <img src="./assets/img/intro-Img.png" alt="">
                </div>
                <div class="colRight">
                    <img src="./assets/img/cote.png" alt="">
                    <p>By addressing these root issues, we can help you achieve long-term relief and improved overall wellness.</p>

                </div>
            </div>            
        </section>
        <section class="team" id="team" data-offset="100">
            <div class="wrapper">
                <h2>Meet our Team</h2>
                <div class="temWrap">
                    <div class="temLeft">
                        <h3>Dr Kenny Lim <span>Chiropractor (IMU)</span></h3>
                        <p>Graduated from IMU from one of the pioneering chiropractic batches in IMU, Dr Kenny has over 10 years of experience in providing safe, effective, and non-invasive chiropractic care.  </p>
                        <p>He is passionate about helping his patients achieve optimal health and wellness through a holistic approach to care that takes into account all aspects of their well-being. </p>
                        <p>Understanding that healthcare and medical conditions can be intimidating at times, he uses a more down-to-earth approach to and explains things very straightforwardly and aims to provide honest and unbiased opinions to patients to help them make informed decisions about their health and wellness.</p>
                        <p>His special interest is in strength and conditioning. In his free time, he can be found in the gym, which is his natural habitat.</p>
                    </div>
                    <div class="temRight">
                        <img src="assets/img/intro-Img.png" alt="">
                    </div>
                </div>

            </div>
        </section>
        <section class="review" id="testimonials" data-bs-offset="100">
            <div class="wrapper">
                <div class="reviewTop">
                    <figure><img src="./assets/img/l-ico.png" alt=""></figure>
                    <p>We're proud of the positive feedback we've received from our patients over the years. Read firsthand accounts of how chiropractic care has helped our patients achieve their health and wellness goals.</p>
                </div>
                <div class="cardWrap">
                    <div class="rcard">
                        <figure><img src="./assets/img/thumb.png" alt=""></figure>
                        <p class="username">Google Username</p>
                        <span class="starsec">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </span>
                        <p>Kenny has been very helpful throughout the few sessions i had and also explain my condition to me clearly and what can be done to manage it better. Treatments</p>
                        <a href="#" class="more">Read more</a>
                    </div>
                    <div class="rcard">
                        <figure><img src="./assets/img/thumb.png" alt=""></figure>
                        <p class="username">Google Username</p>
                        <span class="starsec">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </span>
                        <p>Kenny has been very helpful throughout the few sessions i had and also explain my condition to me clearly and what can be done to manage it better. Treatments were quick and he walks me through it and manages my expectations, so I know what to expect. I have lesser issues with my lower back issues and less tense shoulders now. Overall experience has been good, and would come back again for treatment/ maintenance.</p>
                        <!-- <a href="#" class="more">Read more</a> -->
                    </div>
                    <div class="rcard">
                        <figure><img src="./assets/img/thumb.png" alt=""></figure>
                        <p class="username">Google Username</p>
                        <span class="starsec">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                        <p>Kenny has been very helpful throughout the few sessions i had and also explain my condition to me clearly and what can be done to manage it better. Treatments</p>
                        <a href="#" class="more">Read more</a>
                    </div>
                    <div class="rcard">
                        <figure><img src="./assets/img/thumb.png" alt=""></figure>
                        <p class="username">Google Username</p>
                        <span class="starsec">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </span>
                        <p>Kenny has been very helpful throughout the few sessions i had and also explain my condition to me clearly and what can be done to manage it better. Treatments</p>
                        <a href="#" class="more">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="wrapper">
                <p>If you're ready to take the first step towards a healthier, more vibrant life, contact us today to schedule an appointment.</p>
                <p>We'll be happy to answer any questions you may have about our services and help you get started on your journey towards optimal health and wellness.</p>
                <div class="contacwrap">
                    <figure><img src="./assets/img/Whatsapp.png" alt=""></figure>
                    <h2>Enquiries . Appointments<span>017-632 6079</span></h2>
                        
                    <p > Operating Hours<br/>MON - SAT : 10am - 5pm<br/>SUN/PUBLIC HOLIDAYS : CLOSED</p>
                </div>
            </div>
            <div class="map">
                <img src="./assets/img/map.png" alt="">
            </div>
        </section>
        <section class="footer">
            <div class="wrapper">
                <p>© 2024 Damansara Chiropractic</p>
            </div>
        </section>

        

</body>
</html>